// Variables:
$BG: #191919;
$UNSELCOLOR: hsla(0, 0%, 100%, 0.5);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  border: 2px solid white;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: white;
  height: 75px;
  width: 110px;
  border-radius: 1px;
  background: black;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translatey(-5px);
    border: 5px solid white;
  }
}

.billboard {
  font-size: 2rem;
  position: absolute;
  top: 35%;
  left: 15%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  h1 {
    font-size: 8rem;
    span {
      font-family: "NeueBold";
      background: linear-gradient(45deg, rgb(255, 170, 0), red);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.canvas {
  font-family: "Neue";
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: white;
  .threed {
    height: 100%;
    width: 65vw;
    margin-left: auto;
  }
}

@media (max-width: 1100px) {
  .canvas {
    .threed {
      height: 100%;
      width: 100vw;
      margin-left: auto;
    }
  }
}

@font-face {
  font-family: Neue;
  src: url(src/assets/fonts/Neue/PPNeueMachina-InktrapRegular.otf);
}

@font-face {
  font-family: NeueBold;
  src: url(src/assets/fonts/Neue/PPNeueMachina-InktrapRegularItalic.otf);
}
