* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.restdiv {
  height: 20vh;
  width: 100vw;
}

.extra-div {
  width: 100%;
  height: 20vh;
}

.roller {
  font-family: "Neue";
  color: white;
  width: 100%;
  .top {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    .char-btn {
      font-family: "Neue";
      position: absolute;
      border: 2px solid white;
      font-size: 26px;
      margin-top: 1.5rem;
      color: white;
      height: 90px;
      width: 170px;
      border-radius: 1px;
      background: black;
      transition: 0.2s ease-in-out;
      padding-top: 5px;
      cursor: pointer;
      &:hover {
        transform: translatey(-5px);
        border: 5px solid white;
        box-shadow: 0px 0px 15px 3px white;
      }
    }
    select {
      right: 40%;
      top: 60%;
      font-size: 40px;
      background-color: black;
      color: white;
      padding: 4px;
      border: 1px solid white;
      border-radius: 2px;
      appearance: none;
      width: auto;
      height: auto;
      text-align: center;
      padding: 20px;
    }
    .hide {
      width: 100vw;
      height: 50vh;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1;
      overflow: hidden;
      white-space: nowrap;
      .scroll-text {
        font-size: 25rem;
        font-family: "Bicrode";
        font-style: italic;
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        cursor: default;
        span {
          color: black;
          -webkit-text-stroke-width: 2px;
        }
      }
    }
    .new {
      background-color: black;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      border: 2px solid white;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1px;
      height: 800px;
      width: 600px;
      box-shadow: black 0px 10px 20px;
      transition: 0.5 ease-in-out;
      z-index: 999;
      h1 {
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
      }
      .input-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Neue";
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .entry {
          padding-top: 5px;
          font-size: 20px;
          margin: 1rem;
          label {
            padding-top: 5px;
          }
          input {
            padding-top: 5px;
            font-family: "Neue";
            color: white;
            background-color: black;
            border: 1px solid white;
            border-radius: 3px;
            font-size: 20px;
            padding: 4px;
            width: 75px;
            height: 40px;
          }
        }
        .name {
          padding-top: 5px;
          font-family: "Neue";
          width: 200px;
          height: 45px;
          font-size: 26px;
          color: white;
          background-color: black;
          border: 1px solid white;
          border-radius: 3px;
          position: absolute;
          left: 20px;
        }
      }
      .btn {
        padding-top: 5px;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
  .grid {
    margin-right: 5vw;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    max-width: 100vw;
    justify-items: center;
    .card {
      margin: 35px 50px 35px 50px;
      text-align: center;
      font-family: "Neue";
      display: flex;
      flex-direction: row;
      text-align: center;
      font-size: 2rem;
      color: white;
      height: 250px;
      width: 400px;
      box-sizing: border-box;
      border: 2px solid white;
      border-radius: 2px;
      background-color: black;
      box-shadow: black 0px 10px 20px;
      position: relative;
      h2 {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 0;
        margin: 0;
      }
      .result {
        position: absolute;
        bottom: 20px;
        left: 20px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.btn {
  font-family: "Neue";
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid white;
  font-size: 34px;
  margin-top: 1.5rem;
  color: white;
  height: 75px;
  width: 110px;
  border-radius: 1px;
  background: black;
  transition: 0.2s ease-in-out;
  padding-top: 5px;
  cursor: pointer;
  &:hover {
    transform: translatey(-5px);
    border: 5px solid white;
    box-shadow: 0px 0px 15px 3px white;
  }
}

.add-new {
  cursor: pointer;
  width: 400px;
  height: 250px;
  margin: 35px 50px 35px 50px;
  text-align: center;
  font-family: "Neue";
  background-color: rgba(255, 255, 255, 0.29);
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.del {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 1px;
  font-size: 34px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 15px 3px red;
    border: 3px solid red;
    color: red;
  }
}

.char-del {
  width: 50px;
  height: 50px;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 1px;
  font-size: 34px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 15px 3px red;
    border: 3px solid red;
    color: red;
  }
}

.select-contain {

}

.blur {
  background-color: rgba(0, 0, 0, 0.583);
  position: fixed;
  z-index: 998;
  height: 200vh;
  width: 100vw;
}

.new-char {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid white;
  border-radius: 3px;
  width: 600px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Neue";
  h2 {
    font-size: 40px;
    font-family: "Neue";
    position: absolute;
    top: 20px;
    left: 20px;
  }
  h3 {
    font-family: "Neue";
    font-size: 26px;
    margin: 5px;
    input {
      font-size: 26px;
      border: 1px solid white;
      background-color: black;
      color: white;
      width: 250px;
      padding: 4px;
      border-radius: 2px;
    }
  }
}

.big-text {
  font-size: 96px;
  font-family: "Neue";
  text-align: center;
}

.char-info {
  font-size: 60px;
  span {
  }
}

@media (max-width: 1500px) {
  .roller {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    }
  }
}

@media (max-width: 1000px) {
  .roller {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
    }
  }
}
