// Variables:
$UNSELCOLOR: hsla(0, 0%, 100%, 0.5);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainDiv {
  background-color: black;
  width: 100vw;
}

.restdiv {
  height: 20vh;
  width: 100vw;
}

.card {
  width: 200px;
  height: 150px;
  margin: 1rem;
}

.hero {
  height: 80vh;
  display: flex;
  color: white;
  font-family: "Neue";
  background-color: black;
  div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    position: relative;
    left: 12%;
    top: 35%;
    color: white;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 6rem;
    height: 50vh;
    .or {
      font-family: "NeueBold";
      background: linear-gradient(45deg, rgb(255, 170, 0), red);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.roller {
  font-family: Neue;
  color: white;
  width: 100%;
  .new {
    border: 2px solid white;
  }
  .card {
    cursor: pointer;
    padding: 2rem;
    margin: 0;
    text-align: center;
    font-family: "Neue";
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 2rem;
    color: white;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 2px;
    background-color: black;
    box-shadow: black 0px 10px 20px;
    transition: 0.15s ease-in-out;
    &:hover {
      border: 6px solid white;
      transform: translateY(-10px);
    }
    .btn {
      border: 2px solid white;
      font-size: 1.8rem;
      margin-top: 1.5rem;
      color: white;
      height: 75px;
      width: 110px;
      border-radius: 1px;
      background: black;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: translatey(-5px);
        border: 5px solid white;
      }
    }
  }
}

@font-face {
  font-family: Neue;
  src: url(src/assets/fonts/Neue/PPNeueMachina-InktrapRegular.otf);
}
